<?xml version="1.0"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<contextName>Mybatis</contextName>
	<property name="LOG_PATTEN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>${LOG_PATTEN}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	
	<logger name="com.github.base.mapper" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="com.github.mapper.mapper" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="com.github.spring.mapper" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>